/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
p.logged_user {
  color: #FFFFFF;
  float: right;
}

#person_attributes td:first-child, #family_attributes td:first-child{
  width: 30%;
}

ul.nav p, ul.nav div {
	padding: 10px 0 0 0;
}