// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.address {
  display: inline;
  float: right;
}

.personal {
  display: inline;
  float: left;
}